<%= form_with(model: moeda) do |form| %>
  <% if moeda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(moeda.errors.count, "error") %> prohibited this moeda from being saved:</h2>

      <ul>
        <% moeda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
